/* --- General Properties --- */

:root {
    --primary-theme-color: #3a3a3a;
    --secondary-theme-color: #97d5c9;
    --tertiary-theme-color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-theme-color);
    color: var(--tertiary-theme-color);
}

div{
    display: inline-block;
}

.whitespace {
    width: 100%;
}

/* --- Site Header --- */

header {
    background-color: var(--secondary-theme-color);
    color: var(--primary-theme-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

    /* --- Logo And Name --- */

#site-logo-container {
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#site-logo-img-container {
    background-color: var(--primary-theme-color);
    border-radius: 50%;
}

#site-logo-img-container img {
    max-width: 60px;
    max-height: 60px;
}

#site-name {
    width: 70px;
    font-family: sans-serif;
    font-weight: bold;
}

    /* --- Content Table --- */

#content-table ul {
    margin: 0;
    padding: 0;
    width: 300px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content-table a{
    color: var(--primary-theme-color);
    text-decoration: none;
    transition: color 0.25s;
}

#content-table a:hover {
    color: black;
    transition: color 0.5s;
}

    /* --- Search Bar --- */

#search-bar {
    --search-bar-height: 22px;
    height: var(--search-bar-height);
}

#search-bar form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar button {
    background-color: var(--primary-theme-color);
    height: var(--search-bar-height);
    width: 20px;
    margin: 0;
    padding: 0 0 2px 0;
    border-width: 0;
    border-radius: 0;
}

#search-bar input {
    background-color: var(--primary-theme-color);
    color: var(--tertiary-theme-color);
    height: var(--search-bar-height);
    border-width: 0;
}

#search-bar i {
    color: var(--tertiary-theme-color);
}

    /* --- User Profile --- */

#user-profile {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user-profile button {
    background-color: var(--secondary-theme-color);
    border-width: 0;
}

#user-pfp-container {
    background-color: #2b2f3b;
    padding: 0;
    height: 60px;
    width: 60px;
    border: solid var(--primary-theme-color) 3px;
    border-radius: 50%;
    overflow: hidden;
}

#user-pfp-container img {
    max-width: 60px;
    max-height: 60px;   
}

/* --- Adding whitespace to compensate for header --- */

#header-space {
    height: 70px;
}

/* --- Site Content --- */

main {
    display: inline-block;
    width: 70%;
    box-sizing: border-box;
}

    /* --- Playlist Carousel --- */

#playlist-carousel {
    --prism-radius: 250px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
}

        /* --- Playlist Carousel Faces --- */

.carousel-face {
    position: absolute;
    width: 215px;
}

.carousel-face img {
    max-width: 100%;
}

#face-one {
    transform: translate3d(0, 0, var(--prism-radius));
}

#face-two {
    transform: rotateY(60deg) translate3d(0, 0, var(--prism-radius));
}

#face-three {
    transform: rotateY(120deg) translate3d(0, 0, var(--prism-radius));
}

#face-four {
    transform: rotateY(180deg) translate3d(0, 0, var(--prism-radius));
}

#face-five {
    transform: rotateY(240deg) translate3d(0, 0, var(--prism-radius));
}

#face-six {
    transform: rotateY(300deg) translate3d(0, 0, var(--prism-radius));
}