/* --- General Properties --- */

:root {
    --primary-theme-color: #3a3a3a;
    --secondary-theme-color: #97d5c9;
    --tertiary-theme-color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-theme-color);
    color: var(--tertiary-theme-color);
}

div{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.whitespace {
    width: 100%;
}

h3 {
    color: var(--secondary-theme-color);
    font-family: sans-serif;
}

/* --- Site Header --- */

header {
    background-color: var(--secondary-theme-color);
    color: var(--primary-theme-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}

    /* --- Logo And Name --- */

#site-logo-container {
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#site-logo-img-container {
    background-color: var(--primary-theme-color);
    border-radius: 50%;
}

#site-logo-img-container img {
    max-width: 60px;
    max-height: 60px;
}

#site-name {
    width: 70px;
    font-family: sans-serif;
    font-weight: bold;
}

    /* --- Content Table --- */

#content-table ul {
    margin: 0;
    padding: 0;
    width: 300px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content-table a{
    color: var(--primary-theme-color);
    text-decoration: none;
    transition: color 0.25s;
}

#content-table a:hover {
    color: black;
    transition: color 0.5s;
}

    /* --- Search Bar --- */

#search-bar {
    --search-bar-height: 22px;
    height: var(--search-bar-height);
}

#search-bar form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar button {
    background-color: var(--primary-theme-color);
    height: var(--search-bar-height);
    width: 20px;
    margin: 0;
    padding: 0 0 2px 0;
    border-width: 0;
    border-radius: 0;
}

#search-bar input {
    background-color: var(--primary-theme-color);
    color: var(--tertiary-theme-color);
    height: var(--search-bar-height);
    border-width: 0;
}

#search-bar i {
    color: var(--tertiary-theme-color);
}

    /* --- User Profile --- */

#user-profile {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user-profile button {
    background-color: var(--secondary-theme-color);
    border-width: 0;
}

#user-pfp-container {
    background-color: #2b2f3b;
    padding: 0;
    height: 60px;
    width: 60px;
    border: solid var(--primary-theme-color) 3px;
    border-radius: 50%;
    overflow: hidden;
}

#user-pfp-container img {
    max-width: 60px;
    max-height: 60px;   
}

/* --- Adding whitespace to compensate for header --- */

#header-space {
    height: 70px;
}

/* --- Site Content --- */

main {
    display: inline-block;
    width: 70%;
    box-sizing: border-box;
}

    /* --- Playlist Carousel --- */

#playlist-carousel-container {
    /* min-width: 716px; */
    height: 245px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rotate-button {
    border-width: 0;
    border-radius: 0;
    background-color: var(--primary-theme-color);
    color: var(--secondary-theme-color);
}

#rotate-left {
    order: 1;
}

#rotate-right {
    order: 3;
}

#playlist-carousel {
    --prism-radius: 250px;
    width: 100%;
    bottom: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
    order: 2;
}

        /* --- Playlist Carousel Faces --- */

.carousel-face {
    position: absolute;
    width: 215px;
}

.carousel-face img {
    max-width: 100%;
}

#face-one {
    transform: translate3d(0, 0, var(--prism-radius));
}

#face-two {
    transform: rotateY(60deg) translate3d(0, 0, var(--prism-radius));
}

#face-three {
    transform: rotateY(120deg) translate3d(0, 0, var(--prism-radius));
}

#face-four {
    transform: rotateY(180deg) translate3d(0, 0, var(--prism-radius));
}

#face-five {
    transform: rotateY(240deg) translate3d(0, 0, var(--prism-radius));
}

#face-six {
    transform: rotateY(300deg) translate3d(0, 0, var(--prism-radius));
}

    /* Latest Release */

#latest-release-container {
    display: flex;
    flex-wrap: wrap;
}

        /* Latest Release Tracks */

.latest-release-track {
    width: 45%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.latest-release-track-info {
    display: flex;
    align-items: center;
}

.latest-release-track-img-container {
    width: 20%;
}

.latest-release-track-img-container img {
    max-width: 100%;
}

.latest-release-track-name-and-date-contianer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.latest-release-track-options a {
    color: var(--tertiary-theme-color);
    text-decoration: none;
}

    /* Popular Artists */

#popular-artists-container {
    margin-bottom: 30px;
}

        /* Popular Artists List */

.popular-artist {
    width: 16%;
    font-size: 0.8rem;
    text-align: center;
}

.popular-artist-img-container {
    width: 90%;
    margin: 5%;
    border-radius: 50%;
    overflow: hidden;
}

.popular-artist-img-container img {
    max-width: 100%;
}

    /* Suggested Genres */

        /* Suggested Genres List */

.suggested-genre {
    width: 30%;
    margin: 0 1.4%;
    overflow: hidden;
}

.suggested-genre-img-container {
    width: 100%;
    position: relative;
    transition: transform 200ms ease-in-out;
}

.suggested-genre-img-container:hover {
    transform: scale(1.5);
}

.suggested-genre-img-container img {
    max-width: 100%;
}

.suggested-genre-img-overlay {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    left: 0;
}

.genre-name {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    top: 50%;
}

#rock-color-overlay {
    background-image: linear-gradient(rgb(255, 177, 0), rgb(154, 6, 21));
    opacity: 0.4;
}

#electronic-color-overlay {
    background-image: linear-gradient(to top right, rgb(0, 223, 255) 40%, rgb(0, 58, 255));
    opacity: 0.3;
}

 #road-trip-color-overlay {
    background-color: #ba8ab6;
    opacity: 0.5;
 }

    /* Latest English */

        /* Latest English Tacks */

.latest-english-track {
    width: 15%;
    margin: 0 0.5%;
    font-size: 0.7rem;
}

.latest-english-track-img-container {
    width: 100%;
}

.latest-english-track-img-container img {
    max-width: 100%;
}

/* Queue */

#queue {
    display: inline-block;
    position: fixed;
    width: 30%;
    box-sizing: border-box;
}

    /* Queue Header*/

#queue-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#queue-header a {
    color: white;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}

#queue-header a:hover {
    color: lightgrey;
}

        /* Queue Options */

#queue-options {
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

#queue-options a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#real-queue-options {
    position: absolute;
    top: 113px;
    right: 0;
    width: 10%;
    background-color: white;
    color: black;
    z-index: 1;
}

#queue-options:target {
    width: 100%;
    height: 100%;
}

.queue-option {
    width: 100%;
    height: 40px;
    padding: 10% 0 0 15%;
    border: solid black 1px;
}

    /* Queue Content */

#queue-content {
    height: 79.2vh;
    overflow: scroll;
}

        /* Queue Tracks */

.queue-track {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.queue-track-info {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
}

.queue-track-img-container {
    width: 20%;
}

.queue-track-img-container img {
    max-width: 100%;
}

/* Music Player */

#music-player {
    background-color: var(--secondary-theme-color);
    color: var(--primary-theme-color);
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
}

#music-player > div {
    width: 30%;
}

#music-player button {
    background-color: var(--secondary-theme-color);
    border-width: 0;
    border-radius: 50%;
    flex-grow: 1;
}

    /* Played Track */

#played-track {
    display: flex;
}

#played-track-img-container {
    width: 20%;
}

#played-track-img-container img {
    width: 100%;
}

#played-track-info {
    width: 15%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.7rem;
}

    /* Music Player Options */

#music-player-options-container > form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

#music-player-options-container input {
    width: 100%;
}